.dash {
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    background-color: #161618;
    background-image: url('../assets/images/bg-login.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.cardss{
    display: flex;
    justify-content: center;
    
}

.card{
    background-color: #ccc;
    width: 25%;
    height: 150px;
    margin: 30px;
    text-align: center;
    font-size: 12px;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(7.7px);
    color: #fff;
}