@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz {
    width: 80%;
    height: 100vh;
    display: flex;
    background-image: url('../assets/images/bg-cadastro.jpg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    background-color: #202020;
}

.quiz h1 {
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 45px;
}

.title {
    text-align: center;
    font-size: 20px;

}

.main {
    background-color: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(7.7px);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.spanQtd {
    text-align: right;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF1200;
    color: #FFF;
}

.answer:hover {
    transition: 0.5s;
    transform: translateY(-3px);
    background-color: transparent;
    border: 1px solid #BE4747;
}

.finish button {
    text-align: center;
}